.top-nav {
    background-color: #03290b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline-block; 
    margin: 0 2px;  
}

.top-nav ul li button {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    background-color:#03330e; 
    cursor: pointer;
    width: 285px;
    font-size: 0.95em;
    transition: font-size 0.3s ease;
}

.top-nav ul li button:hover {
    background-color: #005013;
    font-size: 1.1em;

}

.top-nav ul li button.active {
    background-color: #4CAF50;
}


  .title {
    font-size: 4em;
    color: #005013;
    margin-bottom: 30px;
    margin-top: 125px;
    transition: font-size 0.3s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title:hover{
    color: #002007;
    font-size: 4.5em;
  }

  .paragraph-container {
    margin: 100px; 
}

.paragraph {
    text-align: justify;
    margin-top: 380px;
    font-size: xx-large;
    color: #005013;
    font-style: oblique;
    font-weight: bold;
}

.bottom-bar7 {
    background-color: #03290b;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 100px;
    text-decoration: solid;
    font-size: 1.5em;
}



.track-votes-container {
    padding: 20px;
  }
  
  .candidate-details-container1 {
    margin-top: 20px;
    border: 4px solid #000000;
    padding: 10px;
    background-color:#005013;
    font-size: large;
    font-style: oblique;
    color: white;
  }
  
  .candidate-details-container1 h3 {
    margin-bottom: 10px;
  }
  
  .candidate-details-container1 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .candidate-details-container1 li {
    margin-bottom: 15px;
  }
  
  .candidate-details-container1 p {
    margin: 0;
  }
  


