.top-nav {
    background-color: #03290b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline-block; 
    margin: 0 2px;  
}

.top-nav ul li button {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    background-color:#03330e; 
    cursor: pointer;
    width: 285px;
    font-size: 0.95em;
    transition: font-size 0.3s ease;
}

.top-nav ul li button:hover {
    background-color: #005013;
    font-size: 1.1em;

}

.top-nav ul li button.active {
    background-color: #4CAF50;
}

.bottom-bar3 {
    background-color: #03290b;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 100px;
    text-decoration: solid;
    font-size: 1.5em;
    margin-top: 60px;
  }

  .main-content {
    margin-top: 50px;
    background-color: #03330e;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff; 
    text-align: center;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
  }
  
  .form-group1 {
    margin-bottom: 20px;
    width: 250px;
    margin-left: 90px;
    margin-right: 100px;
    width: 300px;
  }
  
  .form-group1 label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; 
  }
  
  .form-group1 input {
    width: 100%;
    padding: 10px;
    font-size: 16px;  
    text-align: center;
  }
  
  button[type="submit"] {
    background-color: #ffffff; 
    color: #03330e;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .message1 {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; 
    color: #03330e;
    border-radius: 5px;
  }