
.conduct-ballot-container {
  background-color: #033b10; 
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 2400px;
  margin-top: 40px;
}

.timer {
  font-size: 25px;
  margin-bottom: 20px;
}

.candidates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1em;
}

.candidate-details {
  background-color: #077404;
  color: #000000; 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 1300px;
  text-decoration-color: #ffffff;
  font-size: x-large;
}

.candidate-details h3 {
  color: #000000;
  margin-bottom: 2px;
}

.vote-form {
  margin-top: 20px;
  width: 200px;
}

.vote-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.vote-form button {
  background-color: #077404; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.vote-form button:hover {
  background-color: #03330e;
}

.vote-success-message {
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
}


.vote-button {
  background-color: #03330e; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.vote-button:hover {
  background-color: #044b15;
}
