.constituency-details {
  list-style-type: none;
  padding: 0;
  margin-left: 400px;
  width: 700px;
  background-color: #014712;
  border-radius: 20px;
  height: 450px;
}

.constituency-details li {
  margin-bottom: 10px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 50px; 
}

.constituency-id {
  font-weight: bold;
  font-size: x-large;
  margin-top: 50px;
}

.constituency-name {
  margin-left: 10px;
  font-size: x-large;
  margin-top: 50px;
}


  .consTitle{
    margin-top: 50px;
    margin-left: 30px;
  }