.form-container10 {
  width: 400px;
  margin: 0 auto;
  background-color: #03330e; 
  padding: 20px;
  border-radius: 10px;
  margin-top: 120px;
}

.form-group10 {
  margin-bottom: 20px;
  width: 300px;
  text-decoration-color: #ccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
}

.form-group10 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-group10 input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-group10 input:focus {
  outline: none;
  border-color: #09a52d; 
}

.submit-button1 {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: #08741a; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 90px;
}

.submit-button1:hover {
  background-color: #055317; 
}
