/* App.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* off-white color */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .title {
    font-size: 3.5em;
    color: #005013;
    margin-bottom: 30px;
    transition: font-size 0.3s ease;
  }

  .title:hover{
    color: #002007;
    font-size: 3.8em;
  }

  .title2{
    font-size: 1.5em;
    color: #005013;
    margin-bottom: 15px;
    margin-top: 20px;
    transition: font-size 0.3s ease;
  }

  .title2:hover{
    color: #002007;
    font-size: 1.8em;
  }
  
  .options {
    display: flex;
    gap: 30px;
  }
  
  .btn {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    background-color: #005013; /* green color */
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25em;
    width: 150px;
    height: 30px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #002007; 
  }
  

  @media (max-width: 768px) {
    .title {
      font-size: 5em;
    }
  
    .btn {
      font-size: 1em;
    }
  }
  
  
  .background-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  